<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span>Main Navigation</span>
</div>
<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>
    <li ui-sref-active="active">
        <a ui-sref="app.table.data">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-layout-grid2"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Tables </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->