<!-- start: TOP NAVBAR -->
<!-- start: NAVBAR HEADER -->
<div class="navbar-header">
	<a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle">
		<i class="ti-align-justify"></i>
	</a>
	<a class="navbar-brand" ui-sref="app.dashboard">
		Admin Application
	</a>
	<a href="#" class="sidebar-toggler pull-right visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed">
		<i class="ti-align-justify"></i>
	</a>
	<a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed">
		<span class="sr-only">Toggle navigation</span>
		<i class="ti-view-grid"></i>
	</a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
<div class="navbar-collapse collapse" collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">
	<ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
		<!-- start: USER OPTIONS DROPDOWN -->
		<li class="dropdown current-user" dropdown on-toggle="toggled(open)">
		    <a href class="dropdown-toggle" dropdown-toggle>
                <i class="ti-angle-down"></i>
		    </a>
			<ul class="dropdown-menu dropdown-dark">
				<li>
					<a ui-sref="app.pages.user({userId: user.Id, activeEditTab: false})">
						My Profile
					</a>
				</li>
				<li>
					<a ui-sref="login.logout">
						Log Out
					</a>
				</li>
			</ul>
		</li>
		<!-- end: USER OPTIONS DROPDOWN -->
	</ul>
</div>
<!-- end: NAVBAR COLLAPSE -->
<!-- start: TOP NAVBAR -->
