<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div ng-controller="UserCtrl">
                <!-- start: USER TABSET -->
                <tabset class="tabbable">
                    <!-- start: TAB OVERVIEW -->
                    <tab heading="Overview">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="user-left">
                                    <div class="center">
                                        <h4>{{userInfo.UserName}}</h4>
                                        <div flow-init="{singleFile:true}" flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                            <div class="user-image">
                                                <div class="thumbnail">
                                                    <img src="assets/images/default-user.png" alt="" ng-if="!obj.flow.files.length && noImage">
                                                    <img ng-src="{{userInfo.PhotoUri}}" alt="" ng-if="!obj.flow.files.length && !noImage">
                                                    <img flow-img="obj.flow.files[0]" ng-if="obj.flow.files.length">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Contact Information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>email:</td>
                                                <td>
                                                    <a href>
                                                        {{userInfo.Email}}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>phone:</td>
                                                <td>{{userInfo.PhoneNumber}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-right">
                                        <a class="btn btn-primary btn-o btn-wide" href="#" ng-click="activeEditTab = true">
                                            Edit Account
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <!-- end: TAB OVERVIEW -->
                    <!-- start: TAB EDIT ACCOUNT -->
                    <tab heading="Edit Account" active="activeEditTab">
                        <form name="Form" id="form1" novalidate ng-submit="isAddNewUser ? addUser(Form) : editUser(Form)">
                            <fieldset>
                                <legend>
                                    Account Info
                                </legend>
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
                                            <label class="control-label">
                                                Email <span class="symbol required"></span>
                                            </label>
                                            <input type="email" placeholder="Enter a valid E-mail" class="form-control" name="email" ng-model="userInfo.Email" required>
                                            <span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$error.required">Email is required.</span>
                                            <span class="error text-small block" ng-if="Form.email.$error.email">Please, enter a valid email address.</span>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error':Form.phone.$dirty && Form.phone.$invalid, 'has-success':Form.phone.$valid}">
                                            <label class="control-label">
                                                Phone example (0970140727) <span class="symbol required"></span>
                                            </label>
                                            <input type="text" name="phone" placeholder="Enter phone number" class="form-control" ng-model="userInfo.PhoneNumber" ng-maxlength="10" required/>
                                            <span class="error text-small block" ng-if="Form.phone.$error.maxlength">Too long!</span>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group" ng-class="{'has-error':Form.gender.$dirty && Form.gender.$invalid, 'has-success':Form.gender.$valid}">
                                            <label class="control-label block">
                                                Gender <span class="symbol required"></span>
                                            </label>
                                            <div class="clip-radio radio-primary">
                                                <input type="radio" id="wd-female" name="gender" value="Female" ng-model="userInfo.Gender" required>
                                                <label for="wd-female">
                                                    Female
                                                </label>
                                                <input type="radio" id="wd-male" name="gender" value="Male" ng-model="userInfo.Gender" required>
                                                <label for="wd-male">
                                                    Male
                                                </label>
                                            </div>
                                            <span class="error text-small block" ng-if="Form.gender.$dirty && Form.gender.$error.required">Gender is required.</span>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">

                                                <div class="form-group" ng-class="{'has-error':Form.zipcode.$dirty && Form.zipcode.$invalid, 'has-success':Form.zipcode.$valid}">
                                                    <label class="control-label">
                                                        Your zip code <span class="symbol required"></span>
                                                    </label>
                                                    <input type="number" placeholder="Enter a zip code" class="form-control" name="zipcode" ng-model="userInfo.ZipCode" ng-pattern="/^[0-9]*$/" required />
                                                </div>

                                            </div>
                                            <div class="col-md-8">

                                                <div class="form-group" ng-class="{'has-error':Form.city.$dirty && Form.city.$invalid, 'has-success':Form.city.$valid}">
                                                    <label class="control-label">
                                                        Your city <span class="symbol required"></span>
                                                    </label>
                                                    <input type="text" placeholder="Enter your city" class="form-control" name="city" ng-model="userInfo.City" ng-pattern="/[a-zA-Z]/" required />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="!isAddNewUser">
                                            <label>
                                                Image Upload
                                            </label>
                                            <div flow-init flow-object="obj.flow" flow-file-added="uploadImage($file)">
                                                <div class="user-image">
                                                    <div class="thumbnail margin-bottom-5">
                                                        <img ng-src="{{userInfo.PhotoUri}}" alt="" ng-if="!obj.flow.files.length && !noImage">
                                                        <img flow-img="obj.flow.files[0]" ng-if="obj.flow.files.length">
                                                    </div>
                                                </div>
                                                <div class="user-image-buttons-edit" ng-if="obj.flow.files.length">
                                                    <span class="btn btn-primary" flow-btn ><i class="fa fa-pencil"></i></span>
                                                    <span class="btn btn-danger" ng-click="obj.flow.cancel()"> <i class="fa fa-times"></i></span>
                                                    <span class="btn btn-success" ng-click="confirmUploadImage()" ng-if="showConfirmBtn"> <i class="fa fa-check-square-o"></i></span>
                                                </div>
                                                <div class="user-image-buttons-edit" ng-if="!obj.flow.files.length">
                                                    <span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
                                                    <span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button class="btn btn-primary" type="submit"> Submit </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </tab>
                    <!-- end: TAB EDIT ACCOUNT -->
                </tabset>
                <!-- end: USER TABSET -->
            </div>
        </div>
    </div>
</div>
<!-- end: USER PROFILE -->
