<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<div ng-controller="ngTableCtrl">
			    <div class="row margin-bottom-10">
			        <div class="col-md-12">
			            <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
			                Clear sorting
			            </button>
			            <button ng-click="addUser()" class="btn btn-default pull-right">
			                Add User
			            </button>
			        </div>
			    </div>
				<div class="table-responsive">
					<table ng-table="tableParams" class="table">
						<tbody ng-repeat="p in $data">
							<tr id="tr{{p.Id}}" ng-class-odd="'odd'" ng-class-even="'even'">
								<td class="rowTd" data-title="'ID'"          sortable="'Id'">{{p.Id}}</td>
								<td class="rowTd" data-title="'UserName'"   sortable="'UserName'">{{p.UserName}}</td>
								<td class="rowTd" data-title="'Gender'"    sortable="'Gender'">{{p.Gender}}</td>
								<td class="rowTd" data-title="'Email'"       sortable="'Email'">{{p.Email}}</td>
							    <td class="rowTd" data-title="'PhoneNumber'"       sortable="'PhoneNumber'">{{p.PhoneNumber}}</td>
							    <td class="rowTd">
							        <div class="pull-right margin-right-10">
							            <input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{p.Id}}" value="edit" ng-click="editUser(p.Id)">
							            <input type=button class="btn btn-primary btn-o btn-sm" id="delRowBtn{{p.Id}}" value="delete" ng-click="deleteUser(p.Id)">
							        </div>
							    </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->
